<!doctype html>
<html lang="en">

    <head>
        <title>Vue todo List</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">

        <link rel="stylesheet" href="./assets/css/style.css">

    </head>

    <body class="text-white">
        <div class="container my-3">
            <div id="app">
                <div class="add_task mb-5 mt-5">
                    <input type="text" placeholder="insert task"
                        v-model="newTask.text" @keyup.enter="addTask">
                    {{newTask.text}}
                    <button class="mx-2 px-2 rounded-pill border-0"
                        @click.stop="addTask">Add Task</button>
                </div>

                <div class="task_list">
                    <h3>Todo List</h3>
                    <ul>
                        <li v-for="(task, i) in tasks" :class="tasks[i].done ===
                            true
                            ? 'task_done' : '' ">
                            {{task.text}}
                            <i class="fa-solid fa-circle-xmark mx-2
                                text-black" @click="removeTask(i)"></i>
                            <!-- lista -->
                        </li>
                    </ul>
                </div>

            </div>

            <script
                src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js
                "></script>
            <script src="./assets/js/main.js"></script>
        </div>
    </body>

</html>