* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(171, 171, 229);
    width: 400px;
}

.task_done {
    text-decoration: line-through;
}

li {
    cursor: pointer;
}